*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informazioni-viaggio h1{
    margin-bottom: 20px;
}

.informazioni-viaggio p{
    margin-bottom: 20px;
}